<div class='posts-container'>
     <div class='user-image-name-info'>
        <div class='image-container'>
            <img class='user-photo'src=<%= @author.photo%> alt='profile pic'/>
        </div>
        <div class='user'>
            <h2><%= @author.name%><h2>
            <p class='number-of-posts'>Number of posts: <%= @author.posts_counter%></p>
        </div>
     </div>
    <% @posts.each do |post|%>
        <div class='posts'>
           <div class='post'>
             <h3>Post #<%= post.id%></h3>
             <p><%= post.text%></p>
             <span class='comments-likes-info'>Comments:<%= post.comments_counter%>, Likes:<%= post.likes_counter%></span>
            </div>
            <div class='comments'>
              <% post.recent_comments.each do |comment| %> 
                    <p><%= comment.author.name%>: <%= comment.text %></p>
              <% end %>
            </div>
              
        </div>
    <% end %>
    <button class='pagination-btn'>Pagination</button>
</div>

<style>
.posts-container {
    display: flex;
    flex-direction: column; 
    padding: 2%;
    gap:10px
}
.user-image-name-info {
    display:flex;
    gap:2%
}
.image-container {
    width: 30%;
    height: 100px;
    border: 1px solid black
  }
.user {
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    flex-grow:1;
}
.number-of-posts {
    text-align: end;
    font-size: 0.9rem
}
.post, .comments {
    border: 1px solid black;
    padding: 1%
}
.post {
    display: flex;
    flex-direction: column;
}
.comments-likes-info {
    align-self: end;
}
.pagination-btn {
    align-self: center;
    font-size: 1.2rem
}
</style >